#cupCanvas {
    height: 80vh;
    width: 98vw;
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 3fr;
    position: absolute;
    top: 20px;
    left: 0;
}

.cups {
    background-color: rgba(0, 255, 0, 0.1);
    position: relative;
    height: 80vh;
}

.innerCups {
    background-color: rgba(180, 190, 255);
    z-index: 10;
    position: absolute;
    bottom: 0;
}

.p5Canvas {
    z-index: 5;
}