body {
    background-color: rgb(15, 15, 15);
}

#header {
    position: absolute;
    top: 24px;
    left: 24px;
    z-index: 100;
    color: white;
    font-size: 28px;
    font-family: 'Dosis', sans-serif;
}

.masking {
    position: absolute;
    z-index: 101;
    opacity: 1;
    transition: 0.3s;
}

.masking:hover {
    opacity: 0;
}

.rings {
    position: absolute;
    z-index: 100;
    display: none;
}